body {
    text-align: center;
    background-color:rgb(0, 140, 255);
    font-size: x-large;
}

h1 {
    color: rgb(10, 209, 10);
    font-size: xx-large;
}
p{
    color: rgb(87, 15, 221);
}
